<div class="login-wrapper">
    <div class="box">
        <div class="content-wrap">
            <form method="post" action="/users/login">
                <h2>Log in to your account</h2>
                <label for="email">Email</label>
                <input class="form-control" type="text" placeholder="E-mail address" id="email" name="email">
                <label for="psw">Password</label>
                <input class="form-control" type="password" placeholder="Password" id="psw" name="password">
                 <div class="action">
                    <button type="submit" class="btn ">Login</button>
                </div>
            </form>
            
            <div class="division">
                <hr class="left">
                <span>or</span>
                <hr class="right">
            </div>
            <div class="social">
                <a class="face_login" href="https://www.facebook.com/v2.12/dialog/oauth?
						client_id=2034640846824624
						&redirect_uri=http://trendingofficial.hol.es/
						&state={st=state123abc,ds=123456789}">
                    <span class="face_icon">
                        <img src="images/facebook.png" alt="fb">
                    </span>
                    <span class="text">Sign in with Facebook</span>
                </a>

            </div>
        </div>
    </div>
</div>
<div class="login-wrapper">
    <div class="box">
        <div class="content-wrap">
            <form method="post" action="/users/register">
                <h2>Don't have an account? Create one now!</h2>
                <label for="sign_up_email">Email</label>
                <input class="form-control" type="text" placeholder="E-mail address" id="sign_up_email" name="email">
                <label for="sign_up_psw">Password</label>
                <input class="form-control" type="password" placeholder="Password" id="sign_up_psw" name="password">
                <label for="sign_up_confirmed_psw">Confirm password</label>
                <input class="form-control" type="password" placeholder="Confirm Password" id="sign_up_confirmed_psw" name="cfm_pwd">          
                <div class="action">
                    <button type="submit" class="btn ">Sign Up</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
{{!-- 
{{#if success_message}}
     <div class="alert alert-success">
         {{success_message}}
    </div>
{{/if}}
{{#if error_message}}
    <div class="alert alert-danger alert-dismissible warn" style="width:100px;height:100px;" >
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         {{error_message}}
    </div>
{{/if}} --}}
